@charset "utf-8" ;

body{
    margin:0 0 0 0;
    padding:0 0 0 0;
    background-color: #f5f3ed;
}

.wrapper{
    margin:0 auto 0 auto;
    width:900px;
}

h2{
    color:#442220;
    font-size:18px;
    border-bottom-width:2px;
    border-bottom-style:dotted;
    border-bottom-color:#442220;
    margin-top:20px;
    margin-right:0px;
    margin-bottom:20px;
    margin-left:0px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
}

p{
    line-height:160%;
}

a:link{
    color:#6aa4d6;
}

a:visited{
    color:#6aa4d6;
}

a:hover{
    color:#4f7697;
}

a:active{
    color:#aed3f2;
}

h1{
    margin:30px 0 30px 0;
    padding:0 0 0 0;
    line-height:0;
    text-align:center;
}

img{
    border-style:none;
}

#nav li{
    display:inline;
    list-style-type:none;
    padding-right:30px;
    
}

#nav{
    margin:0 0 0 0;
    padding:15px 30px 10px 30px;
    text-align:center;
    
}

#nav li a:link{
    text-decoration:none;
}

#footer{
    background-image:url(sozai/images/footer-bg.png);
    background-repeat:repeat-x;
    margin-top:30px;
    padding:20px 0 20px 0;
    font-size:smaller;
    color:#442220;
}

.keyvisual{
    margin:20px 0 0 0;

}

.news_item{
    margin:0 0 0 0;
}

.news_item a{
    text-decoration:none;

}

.copy{
    padding-top:15px;
}

.float img{
    float:left;
    padding-right:1em;
}

table.info{
    border-collapse: :collapse;
    border:1px solid #b78c5f;
    text-align:left;
    vertical-align:middle;
}

table.info th{
    border:1px solid #b78c5f;
    background-color:#c99e73;
    color:#442220;

}

table.info th,table.info td{
    text-align:left;
    vertical-align:middle;middle;
    border:1px solid #b78c5f;
   padding:8px 8px 8px 8px;
}
    
.menu_block{
    overflow:hidden;
    zoom:1;
}

.menu_left{
    float:left;
    width:280px;
    margin-right:20px;

}

.menu_right{
    float:left;
    width:600px;
}

.menu_right h3{
    text-align:right;
    font-size:16px;
    color:#442220;
}
.menu_right h3{
    text-align:right;
    font-size:12px;
    
}

.map{
    text-align:center;
}



form div{
    padding:12px;
    border-bottom:1px dashed #d6c2b5;
}

.select{
    width:30em;

}

.label{
    color:#442220;
}

.input{
    width:30em;
}

.textarea{
    width:30em;
    height:6em;
}

.input{
    margin:20px 12px;
    width:30em;
}





